@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

main {
    display: flex;
    width: 100%;
}

.left-side, .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-side {
    background-color: #ffffff; /* Cor de fundo no lado esquerdo */
}

.right-side {
    background-color: #09C184; /* Cor de fundo no lado direito */
    color: #fff;
}

.content {
    text-align: center;
    max-width: 45%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

#title1 {
    font-size: 64px;
    color: #09C184;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

a{
    color: #000;
}

.input-field {
    font-size: 16px;
    background-color: #ECECEC;
    height: 50px;
    width: 100%;
    padding: 0 53px 0 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: .2s ease;
}

.input-box > label {
    color: #404040;
    font-weight: 500;
}

.input-field:hover, .input-field:focus {
    background-color: #e1e1e1;
}

::-webkit-input-placeholder {
    color: #BFBFBF
}

.input-box {
    text-align: justify;
}

.input-box i {
    position: relative;
    bottom: 34px;
    left: 10px;
    color: #BFBFBF;
}

.submit {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #09C184;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    width: 100%;
    height: 80px;
    margin-top: 10px;
}

.submit:hover {
    background-color: #0A8967;
}

#title2 {
    color: #fff;
    font-size: 64px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.submit2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border: 3px solid #fff;
    background-color: #09C184;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    width: 100%;
    height: 80px;
    margin-top: 10px;
}

.submit2:hover {
    background-color: #fff;
    color: #09C184;
}

#subtitle {
    font-size: 32px;
    padding: 50px 0;
}

/* Estilos existentes */

